html {
  box-sizing: border-box;
}
*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #eee;
  color: #222222;
}
.container {
  width: 80%;
  margin: 20px auto;
}
.grid {
  width: 800px;
  height: 500px;
  margin: 50px auto;
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  background-color: aqua;
}
.grid div:hover {
  background-color: #222222;
}
